Source: riemann-mysql
Section: net
Priority: optional
Homepage: http://github.com/exoscale/riemann-mysql
Maintainer: Marc Falzon <marc@exoscale.com>
Build-Depends: debhelper (>= 9),
               git,
               golang (>= 2:1.11~),
               lsb-release,
               dh-systemd
Standards-Version: 3.9.7

Package: riemann-mysql
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Watch MySQL replication status and notify Riemann of the output.
