Source: riemann-mysql
Section: net
Priority: optional
Homepage: http://github.com/exoscale/riemann-mysql
Maintainer: Pierre-Yves Ritschard <pyr@spootnik.org>
Build-Depends: debhelper (>= 9),
               git,
               libriemann-client-dev,
               libmysqlclient-dev,
               lsb-release
Standards-Version: 3.9.7

Package: riemann-mysql
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Watch mysql replication status and notify riemann of the output.
